doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/public/index.css")
        title Document
    body 
        h1 User Profile Page
        h2.gold Nickname 
        div.green.big= nickname
        //- 변수처럼 사용하는 방법
        div= message